/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: linear-gradient(to right, #ffe9e9, #cff0ff);
  height: 100vh;
}
