<aside>
  <p>Request a callback</p>
  <div id="form">
    <mat-form-field>
      <input matInput placeholder="Name" [formControl]="name" required>
      <mat-error *ngIf="name.hasError('required')">Please enter your name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Contact number" [formControl]="number" required>
      <mat-error *ngIf="number.hasError('required')">Please enter your phone number</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select course" [formControl]="courseControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let course of courses" [value]="course">
          {{course.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="courseControl.hasError('required')">Please choose a course</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Message"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </div>

</aside>